body {
	padding-bottom: 20px;
}

#main-container {
	padding-top: 50px;
}

#statistics-table {
	width: 280px;
	margin: auto;
}

#stats-percentage {
	width: 280px;
	padding: 8px;
	margin: auto;
	text-align: center;
}

#stats-table-head {
	cursor: pointer;
}

#structure-div {
	text-align: center;
}